{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h1>Display Requests</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Phone Number</th>
        </tr>
        {% for req in request %}
        <tr>
            <td>{{ req.name }}</td>
            <td>{{ req.location }}</td>
            <td>{{ req.phonenum }}</td>
            <td><a href="/edit/{{ req.id }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}