{% extends 'index.html' %}

{% block content %}
<div class="container my-5">
    <div class="row height80 ">
        <div class="col-md-8 mb-5 ">
            <h2 class="mb-5">Fill the form below to request for water</h2>
            <h4 class="txt-teal">Request Form</h4>
            <form action="/" method="POST">
                <p class="fw-bold">What will you like to order?</p>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="fw-bold" for="bottle_qty">Bottled Water quantity in packs:<br><span class="fw-lighter">(Each Pack = 24 pieces)</span></label>
                        <input type="number" id="bottle_qty" name="bottle_qty" value=0  class="form-control"><br>
                    </div>
                    <div class="col-sm-6">
                        <label class="fw-bold" for="sachet_qty">Sachet Water quantity in packs:<br><span class="fw-lighter">(Each Pack = 20 pieces)</span></label>
                        <input type="number" id="sachet_qty" name="sachet_qty" value=0 class="form-control"><br>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="fw-bold">Your Name:</label>
                    <input type="text" placeholder="Please Enter Your Full Name" id="name" name="name" class="form-control" required><br>
                </div>
                <div class="form-group">
                    <label for="location" class="fw-bold">Your Location:</label>
                    <input type="text" placeholder="Please put your complete location" id="location" name="location" class="form-control" required><br>
                </div>
                <div class="form-group">
                    <label for="phonenum" class="fw-bold">Your Phone Number:</label>
                    <input type="tel" id="phonenum" name="phonenum" class="form-control" oninvalid="this.setCustomValidity('Enter a valid Nigerian phone number')" placeholder="080XXXXXXXX" pattern="[0-9]{11}" required><br>
                </div>
                <div class="float-md-end ">
                    <button type="submit" class="btn btn-primary">Submit Request</button>
                </div>

            </form>
        </div>
        <div class="col-md-4 px-auto pt-5">
            <a class="btn btn-large btn-light mx-auto fs-4 p-4 rounded shadow-sm d-block" href="{{ url_for('main.search') }}" style="background-image:url('../../static/images/drinkingwater.png'); background-size:contain;
            background-repeat: no-repeat; padding-left:30% !important;"><i class="fa fa-binoculars rounded-circle d-block" aria-hidden="true"></i>Track a request</a>
        </div>
    </div>
</div>
{% endblock %}