{% extends 'index.html' %}

{% block content %}    
    <div class="container">
        <div class="row">
            <h2 class="">Water Production Admin Page</h2>
            <P><span class="txt-teal mb-5">Welcome, {{ fullname }}</span></P>
        </div>
        <div class="d-grid gap-3 d-md-block text-center">
            <a href="{{ url_for('add_production') }}" class="btn btn-lg p-5 mx-2 btn-secondary">Add Production</a>
            <a href="{{ url_for('production_content') }}" class="btn btn-lg p-5 mx-2  btn-secondary">Production History</a>
            <a href="{{ url_for('dashboard') }}" class="btn btn-lg p-5 btn-secondary mx-2 ">View Analytics</a>
            <a href="{{ url_for('index') }}" class="btn btn-lg p-5 btn-secondary mx-2 ">Request Water</a>
        </div>
        <div class="row my-5">
            <h6 class="txt-teal fw-bold">Requests pending delivery</h6>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-1 border border-dark bg-dark text-white"><h6>Edit</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Name</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Bottle_Qty</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Sachet_Qty</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Status</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Modified_Date</h6></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% for item in x %}
                    <div class="row">
                        <div class="col-sm-1 border text-center">
                            <a class="" href="{{ url_for('edit_entry', id=item[0]) }}"><i class="fa-solid fa-pencil txt-teal"></i></a>&nbsp; &nbsp;
                            <a class="" href="{{ url_for('display_entry', id=item[0]) }}"><i class="fa-solid fa-eye txt-teal"></i></a>
                        </div>
                        {% for elem in item %}
                            {% if loop.index == 6 %}
                                <div class="col-sm-2 border">              
                                    {{ elem.strftime('%d %b, %Y %I:%M %p') }}
                                </div>
                            {% elif loop.index != 1 %}
                                <div class="col-sm-2 border">              
                                    {{ elem }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}