{% extends 'index.html' %}

{% block content %}    
    <div class="container">
        <div class="row">
            <h2 class="">Water Production Admin Page</h2>
            <P style="color: blue; font-size: large; font-family: sans-serif;  font-style: italic;"><span class="txt-teal mb-5">Welcome</span></P>
        </div>
        <div class="d-grid gap-3 d-md-block text-center">
            <a href="{{ url_for('main.add_production') }}" class="btn btn-lg p-5 mx-2 btn-secondary">Add Production</a>
            <a href="{{ url_for('main.production_content') }}" class="btn btn-lg p-5 mx-2  btn-secondary">Production History</a>
            <a href="{{ url_for('main.new') }}" class="btn btn-lg p-5 btn-secondary mx-2 ">View Analytics</a>
            <a href="{{ url_for('main.new') }}" class="btn btn-lg p-5 btn-secondary mx-2 ">Request Form</a>
        </div>
        <div class="row my-5">
            <h6 class="txt-teal fw-bold">Requests pending delivery</h6>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-1 border border-dark bg-dark text-white"><h6>Edit</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Name</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Bottle_Qty</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Sachet_Qty</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Status</h6></div>
                        <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Modified_Date</h6></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% for item in x %}
                    <div class="row">
                        <div class="col-sm-1 border text-center">
                            <a class="" href="{{ url_for('main.edit_request', id=item.id) }}"><i class="fa-solid fa-pencil txt-teal"></i></a>&nbsp; &nbsp;
                            <a class="" href="{{ url_for('main.display_entry', id=item.id) }}"><i class="fa-solid fa-eye txt-teal"></i></a>
                        </div>
                        <div class="col-sm-2 border"><h6>{{ item.name }}</h6></div>
                        <div class="col-sm-2 border"><h6>{{ item.bottle_qty }}</h6></div>
                        <div class="col-sm-2 border"><h6>{{ item.sachet_qty }}</h6></div>
                        <div class="col-sm-2 border"><h6>{{ item.status }}</h6></div>
                        <div class="col-sm-2 border"><h6>{{ item.modified_date.strftime('%d %b, %Y %I:%M %p')}}</h6></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}