{% extends 'index.html' %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="row text-center bg-info p-3 rounded mb-3">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2 class="">Production History</h2>
            <P><span class="fw-bolder">Welcome, {{ fullname }}</span></P>
        <!-- Display Production Content Data -->
            <div class="row">
                <div class="col-sm-1 border border-dark bg-dark text-white"><h6>Actions</h6></div>
                <div class="col-sm-1 border border-dark bg-dark text-white"><h6>Bottle_Qty</h6></div>
                <div class="col-sm-1 border border-dark bg-dark text-white"><h6>Sachet_Qty</h6></div>
                <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Updated By</h6></div>
                <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Production Date</h6></div>
                <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Created Date</h6></div>
                <div class="col-sm-2 border border-dark bg-dark text-white"><h6>Modified Date</h6></div>
            </div>
            {% for item in production_content_data %}
    
            <div class="row">
                <div class="col-sm-1 border py-1"><a class="" href="{{ url_for('edit_production', id=item[0]) }}"><i class="fa-solid fa-pencil txt-teal"></i></a></div>
                {% for elem in item %}
                    {% if loop.index != 1 %}
                        {% if loop.index == 2 or loop.index == 3 %}
                            <div class="col-sm-1 border py-1">              
                                {{ elem }}
                            </div>
                        {% elif loop.index == 4 %}
                            <div class="col-sm-2 border py-1">              
                                {{ elem }}
                            </div>
                        {% elif loop.index == 5 %}
                            <div class="col-sm-2 border py-1">              
                                {{ elem.strftime('%d %b, %Y') }}
                            </div>
                        {% else %}
                            <div class="col-sm-2 border py-1">              
                                {{ elem.strftime('%d %b, %Y %I:%M %p') }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
    </div>
{% endblock %}
