{% extends 'index.html' %}

{% block content %}
    <h2>LOGIN</h2>
    <p class="txt-dark">Welcome, please enter your login details below.</p>
    <div class="row mt-5">
        <div class="col-sm-8">
            <form action="{{ url_for('login') }}" method="POST">
                <div class="form-group my-2">
                    <label for="username" class="fw-bold">Username:</label>
                    <input type="text" placeholder="Enter Your Username" id="username" name="username" class="form-control" required><br>
                </div>
                <div class="form-group my-2">
                    <label for="password" class="fw-bold">Password:</label>
                    <input type="password" placeholder="Enter Your Password" id="password" class="form-control" name="password" required>
                </div>
                <div class="float-md-left my-5">
                    <button type="submit" class="btn p-2 mx-2 btn-primary">Submit Request</button>
                </div>
                <div class="row float-md-center my-5">
                    <a href="{{ url_for('register') }}" class="btn btn p-2 mx-2 btn-dark">New Here? Register here!</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}