{% extends 'index.html' %}

{% block content %}
<div class="container main-content my-5">
    <h4 style="color: black; align-content: center;"><span class="fw-bolder">Company: </span>Aqua Manager Group of companies</h4>
    <h4 style="color: black; align-content: center;"><span class="fw-bolder">Welcome, {{ fullname }}</span></h4>
    <p class="text-teal"><span class="fw-bolder">Email: {{ email }}</span></p>
    <p class="text-teal"><span class="fw-bolder">Username: {{ username }}</span></p>
    <div class="row float-md-left my-5">
        <div class="col-md-6">
            <a href="{{ url_for('main.logout') }}" class="btn btn-primary btn-lg">Logout</a>
        </div>
    </div>
    </div>
{% endblock %}
