{% extends 'index.html' %}

{% block content %}
    <h2>Register</h2>
    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" placeholder="Please choose a username you can remember" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="email" placeholder="example123@gmal.com" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="full_name">Full Name:</label><br>
        <input type="text" placeholder="Please input your full name" id="full_name" name="full_name" required><br>
        <button type="submit">Register</button>
    </form>
{% endblock %}