:root {
    --pricolor: #00bfb2;
  }

.bg-pri {
    background-color: var(--pricolor); 
}
.txt-teal{
    color: var(--pricolor); 
}
body {
   font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  }

header{
    /* background-color: var(--pricolor); */
    background-color: #00bfb2;
    background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
    /* background-image: url(../images/bg_gradient.jpg); */
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    min-height: 15vh;
}

#app-name{
    font-size: 3.5em;
    font-weight: 900;
}
.logo{
    width: 100px;
    height: 100px;
}

.height80{
    min-height: 80vh;
}

.sm-image{
    width:150px;
    height:auto;
    margin: auto;
}

.btn-primary{
    background-color: #006965;
    border-color: #006965;
}